<div class="container">
  <div class="ingredientOptions">
    <form action="">
      {{#each ingredientArray}}
        <input type="radio" name="topping">
        <img class="topping" src="{{image}}" alt="{{id}}">
        {{name}}
      {{/each}}

      <input type="submit">
    </form>
  </div>
</div>


