<form action="./builder">

<div class="container">
  <img src="/images/rye_top.png">
  <img src="/images/chicken.png">
  <img src="/images/Swiss_cheese.png">
  <input type="submit" value="Build a Sandwich!" />
  <img src="/images/tomato.png">
  <img src="/images/lettuce.png">
  <img src="/images/rye_bottom.png">
</div>

</form>
